.layout {
  margin: 0px 5%;
}

.cstm-placeholder::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #1890ff;
  opacity: 0.6;
}
.cstm-placeholder::-moz-placeholder {
  /* Firefox 19+ */
  color: #1890ff;
  opacity: 0.6;
}
.cstm-placeholder:-ms-input-placeholder {
  /* IE 10+ */
  color: #1890ff;
  opacity: 0.6;
}
.cstm-placeholder:-moz-placeholder {
  /* Firefox 18- */
  color: #1890ff;
  opacity: 0.6;
}
